<link rel="stylesheet" href="/css/additional.css">

<main>
    <!-- Actions -->
    <section class="section">
        <div class="container">
          <div class="row">
            <div class="section-title">
              <h2>Create an action</h2>
            </div>
            <div class="dynamic-container">
              <div class="actions">
                  <!-- Action -->
                  <div class="action" id="home-action">

                      <h4>Home</h4>
                      <button type="button" class="button" id="add-company">company</button>
                      <button type="button" class="button" id="create-company-codes">our</button>
                  </div>

                  <div class="action" id="about-action">
                    <h4>About</h4>
                    <button type="button" class="button" id="create-about">about</button>
                  </div>

                  <div class="action" id="program-action">
                    <h4>Program</h4>
                    <button type="button" class="button" id="program-label">label</button>
                    <button type="button" class="button" id="create-program-item">create</button>
                  </div>

                  <div class="action" id="service-action">
                    <h4>Services</h4>
                    <button type="button" class="button" id="service-label">label</button>
                    <button type="button" class="button" id="create-service">create</button>
                  </div>

                  <div class="action" id="testimony-action">
                    <h4>Testimonial</h4>
                    <button type="button" class="button" id="testi-label">label</button>
                  </div>

                  <div class="action" id="blog-action">
                    <h4>Blog</h4>
                    <button type="button" class="button" id="blog-label">label</button>
                    <button type="button" class="button" id="create-blog-item">create</button>
                  </div>

                  <div class="action" id="highlight-action">
                    <h4>Highlight</h4>
                    <button type="button" class="button" id="highlight">create</button>
                  </div>
                  <!-- Action -->
              </div>
            </div>
          </div>
        </div>
    </section>
</main>
<!-- SCRIPTS -->
<script src="/js/add.js"></script>